<div class="col-sm-12" id="aboutMe" style="text-align: right">

  <img src="assets/aboutMe.png" id="aboutMePhoto">
  <label id="abouts"> About Me </label>
</div>
<hr id="horizontalBar">
<div class="aboutMeContent">
  <p style="width: 95%">Hello! I'm Mouli, a Software Engineer based in Hyderbad (TS), India. </p>
  <p> I always love to Innovate and Create the things that goes beyond my capabilities. </p>
  <p> Love to solve business problems and learn new things. </p>
  <p> As a Motivated and Passionate enginner love to be part of all phases in Software Development Life Cycle (SDLC).</p>
  <p> Looking for senior role where I can drive the business with ease.</p>
</div>
<!-- <div *ngFor="let about of aboutMeList">
  {{about}}
</div> -->
<!-- <hr id="horizontalBar" style="margin-top: 3em"> -->
<!-- <div class="col-sm-12" id="aboutMe" style="text-align: right; margin-top: -0.5em; padding-top: 70px;">
  <img src="assets/careerObjective.png" id="aboutMePhoto">
  <label id="careerObjective"> Career Objective </label>
</div>
<hr id="horizontalBar">
<div class="aboutMeContent">
    <p style="width: 95%">{{careerObjective}}</p>
  </div> -->
  