#aboutMe{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    font-size: 2.5em;
    color: #824CA7;
    text-align: center;
}

#horizontalBar{
    margin-top: 0em;
    height:3px;
    border-width:0;
    color:#824CA7;
    background-color:#824CA7
}

#aboutMePhoto{
    height: 1.3em;
    width: 1.3em;
}

.aboutMeContent{
   text-align: -webkit-left ;
   padding-left: 2em;
}

#abouts, #careerObjective{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.7em;

}