<div class="col-sm-12" id="education" style="text-align: right">
  <img src="assets/education1.png" id="educationPhoto">
  <label id="educationLabel"> Education </label>
</div>
<hr id="horizontalBar">
<div class="educationContent">
  <div *ngFor="let study of studiesListObject">
    <div id="educationBox">
        <label style="color: chocolate; font-size: 25px;"> {{study.title}} </label>
        <hr id="horizontalBar">
        <div id="educationDetails">
          <div style = "padding-left: none;"> 
            <label id="educationDetailLabel"> College/University: {{study.college}} </label>
          </div>
          <div style = "padding-left: none;"> 
            <label id="educationDetailLabel"> Year: {{study.year}} </label>
          </div>
          <div style = "padding-left: none;"> 
            <label id="educationDetailLabel"> Specalization: {{study.specialization}}</label>
          </div>
          <div style = "padding-left: none;"> 
            <label id="educationDetailLabel"> Percentage: {{study.percentage}} </label>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- <div style="width: 400px;height: 350px; align-content: center;margin-left: 30%; margin-top: 320px;">
    <ng-image-slider [images]="imagesUrl" [imageSize]="{width: 400, height: 500}"  #nav></ng-image-slider>
</div> -->
